
/* -- Style reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* --- HTML5 display-role reset for older browsers --- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
*,
::after
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* ---  Slut reset --- */
tt
/* --- CSS starter nedenunder --- */

body { 
   display: grid;
   grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}


header {
    grid-area: header;
}

main {
    grid-area: main;
    margin-left: 3%;
    margin-right: 3%;
}

body p {
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
}

main h1 {
   font-size: 25px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
}

main h2 {
   font-weight: bolder;
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
}

main h3 {
   font-style: italic;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
}

/* --- Header --- */


/* --- Footer --- */
footer {
   background-color:#cae1cf;
   grid-area: footer;
   padding-top: 15px;
   padding-bottom: 15px;
   line-height: 25px;
   text-align: center;
}

.footer_overskrift {
   font-weight: bold;
}

.footer_telefon_ikon {
   width: 15px;
}

.footer_mail {
   text-decoration: none;
   color: black;
}

.footer_telefonnummer {
   text-decoration: none;
   color: black;
}

.footer_some {
   height: 15px;
   padding: 10px;
}

/* --- Forside --- */


/* --- Behander --- */
.behandler h1 {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
}

.behandler h2 {
   padding-top: 15px;
   padding-bottom: 7px;
}

.behandler_billede {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.behandler_billedet {
   width: 55%;
}

.behandler_navn {
   margin-top: 5px;
}

.behander_artikel {
   padding-top: 10px;
   padding-bottom: 8%;
   line-height: 20px;
}

.behandler_citat {
   font-style: italic;
   padding-top: 7%;
   padding-bottom: 7%;
   font-size: larger;
   text-align: center;
}

/* --- Kontakt --- */

.kontakt_billede_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 5%;
}

.kontakt_billede {
   width: 83%;
   text-align: center;
}

.kontakt_info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 25px;

}

.kontakt_ikon {
   height: 15px;
}

.kontakt_telefonnummer, .kontakt_mail {
   text-decoration: none;
   color: black;
}


.kontakt_map {
   width: 50%;
   height: 225px;
   position: relative;
   padding-top: 7%;
   padding-bottom: 7%;
}

.kontakt_map_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 7%;
   padding-bottom: 7%;
}

.kontakt_overskrift {
   text-align: center;
   padding-bottom: 15px;
   padding-top: 15px;
}


.kontakt em {
   font-style: italic;
   color: #818955;
}

.kontakt_tider {
   text-align: center;
   padding-top: 3%;
   padding-bottom: 2%;
}


/* --- Forventninger til forloeb --- */

.mySlides {
    display:none;
    margin-bottom: 2em;
}

/* under ombygning css */
.uo-content {
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.uo-titel {
    font-size: 10vw;
    margin-bottom: 3%;
}

.uo-content2{
    font-size: 4vw;
    margin-bottom: 2%;
}

.uo-logo {
    width: 100%;
}

/* Øvelser css */
.oevelser-layout {
   display: flex;
   justify-content: center;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.oevelse-titel {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

.oevelse-nav {
    font-weight: 700;
    margin-top: 1.5%;
}

.oevelse-nav-content{
    text-decoration: underline;
    line-height: 2.2;
}

.oevelse-intro-img{
    width: 100%;
    margin-top: 2%;
    margin-bottom:2%;
}

/* --- CSS Grid layout for bredere skærme, når browser understøtter grid --- */

@supports (display: grid){ 
    @media screen and (min-width: 768px) {
    body {
      display: grid;
      grid-template-rows: [header-start] 30em [content-start] 100em [footer-start] 30em;
		grid-template-columns: [aside] 3em [main] 1fr [nav] 3em;
		grid-template-areas: 
		"header header header"
		"aside main nav"
		"footer footer footer";
		}
    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
    }
    footer {
        grid-area: footer;
    }
    }
}
   
/* font-family: 'Poppins', sans-serif; */


