/* -- Style reset -- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* --- HTML5 display-role reset for older browsers --- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

*,
::after::before {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

/* ---  Slut reset --- */
tt
/* --- CSS starter nedenunder --- */


body {
   display: grid;
   grid-template-columns: 100%;
   grid-template-areas:
      "header"
      "main"
      "footer";
}


header {
   grid-area: header;
}

main {
   grid-area: main;
   margin-left: 3%;
   margin-right: 3%;
}

body p {
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
}

main h1 {
   font-size: 25px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
}

main h2 {
   font-weight: bolder;
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
}

main h3 {
   font-style: italic;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
}

main h4 {
   font-weight: bolder;
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
}

main h5 {
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
}


/* --- Header --- */
header {
   font-family: 'Poppins', sans-serif;
}

.site-header {
   background-color: white;
}

.header-flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 3vw 0px;
}

.site-header .logo .logo-ikon {
   height: 55px;
   width: auto;
   padding-top: 10px;
}

.desktop-header-ikoner {
   display: none;
}

/* --- Navigation --- */
.navbar-desktop {
   display: none;
}

.navbar-mobil {
   width: 100%;
   background-color: white;
}

.menu-mobil {
   display: flex;
   flex-direction: column;
}

.menu-mobil li {
   list-style: none;
}

.menu-mobil li .menupunkt {
   display: inline-block;
   padding: 0 20px;
   line-height: 30px;
}

.menu-mobil li .pil {
   font-size: 15px;
   text-align: center;
}

.menu-mobil li a {
   color: black;
   text-decoration: none;
   line-height: 50px;
   padding: 0 20px;
}

.menu-mobil .sub-menu-mobil {
   width: 100%;
   background-color: white;
   line-height: 35px;
}

.menu-mobil .sub-menu-mobil a {
   font-size: 14px;
   padding-left: 40px;
}

/* --- Burger menu --- */
/* --- Hentet/inspireret af https://dev.to/shubhamtiwari909/responsive-navbar-without-javascript-3p7o --- */
.hamburger-ikon input[type="checkbox"] {
   appearance: none;
}

.hamburger-ikon .bx-menu {
   color: black;
   font-size: 2.5rem;
   cursor: pointer;
}

.menu-mobil {
   height: 0;
   overflow: hidden;
   flex-direction: column;
   transition: all 0.5s ease-in-out;
}

.hamburger-ikon {
   display: block;
   border: none;
   background-color: transparent;
}

header:has(.hamburger-ikon input[type="checkbox"]:checked) .menu-mobil {
   height: auto;
}


/* --- Footer --- */

footer {
   background-color: #cae1cf;
   grid-area: footer;
   padding-top: 30px;
   padding-bottom: 20px;
   line-height: 25px;
   text-align: center;
}

.footer_overskrift {
   font-weight: bold;
}

.footer_telefon_ikon {
   width: 15px;
}

.footer_mail {
   text-decoration: none;
   color: black;
}

.footer_telefonnummer {
   text-decoration: none;
   color: black;
}

.footer h6,
p,
address,
a {
   font-family: 'Poppins', sans-serif;
}

.footer_some {
   height: 15px;
   padding: 10px;
}

.footer_some_special {
   height: 15px;
   margin: 9px;
}

/* --- Forside --- */
.forside-heading {
   text-align: center;
   padding: 30px 0 20px;
}

.mobile-header-ikoner {
   display: flex;
   justify-content: space-evenly;
}

.bestil-tid,
.tjek-ind {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-ikon {
   width: 75px;
}

.ikon-tekst {
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
   color: black;
   text-decoration: none;
}

.forside-artikel {
   width: 100%;
   padding: 10px 0 30px;
}

.forside-billede-div1,
.forside-billede-div2 {
   margin: 20px 0;
   display: flex;
   justify-content: center;
}

.forside-billede1,
.forside-billede2 {
   max-width: 100%;
}

.forside-artikel-overskrift {
   text-align: center;
   padding: 15px 0 15px;
}

.some-udvalg {
   display: none;
}


/* --- Om kiropraktik */

.kiro-artikel {
   width: 100%;
   padding: 10px 0 0;
}

.kiro-billede1,
.kiro-billede2 {
   width: 100%;
   padding: 15px 0;
}

.kiro-billede3 {
   width: 100%;
   margin-bottom: 3em;
}

.kiro-boks {
   background-color: #cae1cf;
   padding: 15px 6%;
   margin: 20px 0px;
}

.kiro-overskrift {
   text-align: center;
   padding: 15px 0 15px;
}

/* --- Behandler --- */

.behandler h1 {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;
}

.behandler h2 {
   padding-top: 15px;
   padding-bottom: 7px;
}

.behandler_billede {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.behandler_billedet {
   width: 55%;
}

.behandler_navn {
   margin-top: 5px;
}

.behandler_artikel {
   padding-top: 10px;
   padding-bottom: 8%;
   line-height: 20px;
}

.behandler_citat {
   font-style: italic;
   padding-top: 7%;
   padding-bottom: 7%;
   font-size: larger;
   text-align: center;
}

/* --- Kontakt --- */

.kontakt_billede_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 5%;
}

.kontakt_billede {
   width: 83%;
   text-align: center;
}

.kontakt_info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 25px;
}

.kontakt_ikon {
   height: 15px;
}

.kontakt_telefonnummer,
.kontakt_mail {
   text-decoration: none;
   color: black;
}


.kontakt_map {
   width: 80%;
   position: relative;
   padding-top: 7%;
   padding-bottom: 7%;
}

.kontakt_map_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 7%;
   padding-bottom: 7%;
}

.kontakt_overskrift {
   text-align: center;
   padding-bottom: 15px;
   padding-top: 15px;
}

.kontakt em {
   font-style: italic;
   color: #818955;
}

.kontakt_tider {
   text-align: center;
   padding-top: 3%;
   padding-bottom: 2%;
}

.kontakt_map {
   padding-top: 2%;

}


/* --- Forventninger til forloeb --- */

.tal_ikon {
   display: none;
}

.mySlides {
   display: none;
   margin-bottom: 3em;
}

.liste_besoeg {
   margin-left: 3em;
   list-style: circle;
}

/* --- Under ombygning --- */
.uo-content {
   text-align: center;
   margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
}

.uo-titel {
   font-size: 10vw;
   margin-bottom: 3%;
}

.uo-content2 {
   font-size: 20px;
   margin-bottom: 2%;
}

.uo-logo {
   width: 100%;
   margin-bottom: 20px;
}

/* Øvelser css */
.oevelser-layout {
   display: flex;
   justify-content: center;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
}

.oevelse-titel {
   text-align: center;
   margin-bottom: 1%;
   margin-top: 1%;
}

.oevelse-nav-flex {
   display: flex;
   justify-content: center;
}

.oevelse-nav {
   font-weight: 700;
   margin-top: 1.5%;
   text-align: center;
}

.oevelse-nav-content {
   text-decoration: underline;
   line-height: 2.2;
}

a {
   color: #556a3b;
}

.space {
   width: 3em;
}

.space2 {
   width: 1em;
}

.oevelse-intro-img {
   width: 100%;
   margin-top: 2%;
   margin-bottom: 2%;
}

.oevelser-tekst1 {
   margin-top: 5px;
   margin-bottom: 20px;
}

.oevelser-tekst {
   margin-top: 5px;
   margin-bottom: 20px;
}

.oevelser-ywtl {
   font-weight: 700;
}

.oe5 {
   margin-bottom: 3em;
}

/* --- CSS Grid layout for bredere skærme, når browser understøtter grid --- */

@supports (display: grid) {
   @media screen and (min-width: 768px) {
      body {
         display: grid;
         grid-template-rows: [header-start] auto [content-start] auto [footer-start] auto;
         grid-template-columns: [aside] 3em [main] 1fr [nav] 3em;
         grid-template-areas:
            "header header header"
            "aside main nav"
            "footer footer footer";
      }

      header {
         grid-area: header;
      }

      aside {
         grid-area: aside;
      }

      main {
         grid-area: main;
      }

      nav {
         grid-area: nav;
      }

      footer {
         grid-area: footer;
      }

      /* --- Ny styling af skrift */
      main h1 {
         font-size: 35px;
         font-weight: bold;
         padding: 20px 0;
      }

      main h2 {
         font-weight: bolder;
         font-size: 26px;
      }

      main h3 {
         font-style: italic;
         font-size: 24px;
      }

      main h4 {
         font-weight: bolder;
         font-size: 24px;
      }

      main h5 {
         font-size: 16px;
      }

      /* --- Header --- */
      .header-flex {
         margin: 5px 7vw 15px;
      }

      .header-flex .hamburger-ikon {
         display: none;
      }

      .site-header .logo .logo-ikon {
         height: 70px;
         /* width: auto; */
         padding-top: 0;
         margin-top: 15px;
      }

      .desktop-header-ikoner {
         width: 200px;
         display: flex;
         justify-content: space-between;
         gap: 1rem;
         padding-top: 20px;
      }

      .header-ikon {
         height: 50px;
         width: auto;
      }

      .ikon-tekst {
         text-decoration: none;
         color: black;
         font-family: 'Poppins', sans-serif;
         font-size: 16px;
      }

      .bestil-tid,
      .tjek-ind {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      /* Navigation */
      .navbar-mobil {
         display: none;
      }

      .navbar-desktop {
         display: block;
         width: 100%;
         height: 50px;
         background-color: #cae1cf;
      }

      .menu-desktop {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         height: 50px;
         padding: 0 10%;
      }

      .menu-desktop li {
         list-style: none;
      }

      .menu-desktop .menupunkt {
         display: inline-block;
         padding: 0 15px;
      }

      .menu-desktop li a {
         color: black;
         text-decoration: none;
         line-height: 50px;
         padding: 0 15px;
         display: inline-block;
      }

      .menu-desktop li a:hover {
         text-decoration: underline;
      }

      .menu-desktop li .pil {
         font-size: smaller;
         text-align: center;
         transition: all 0.3s ease;
      }

      .menu-desktop li:hover .pil1,
      .menu-desktop li:hover .pil2,
      .menu-desktop li:hover .pil3 {
         transform: rotate(180deg);
      }

      .menu-desktop li .sub-menu {
         position: absolute;
         background-color: #cae1cf;
         line-height: 35px;
         border-radius: 0 0 4px 4px;
         display: none;
      }

      .menu-desktop li .sub-menu li a {
         font-size: 15px;
      }

      .menu-desktop li:hover .kiro-sub-menu,
      .menu-desktop li:hover .dit-besoeg-sub-menu,
      .menu-desktop li:hover .om-os-sub-menu {
         display: block;
      }

      /* --- Forside --- */
      .mobile-header-ikoner {
         display: none;
      }

      .forside-container {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .forside-heading {
         font-size: 40px;
         padding-top: 50px;
      }

      .forside-flex {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 950px;
      }

      .forside-child:nth-child(2) {
         order: 3
      }

      .some-udvalg {
         display: block;
         text-align: center;
         padding-bottom: 50px;
      }

      .some-udvalg-child {
         display: flex;
         justify-content: center;
      }

      .insta_vid {
         margin: 1em;
      }

      .some-udvalg-overskrift {
         padding-bottom: 0px;
      }

      /* --- Om kiropraktik --- */

      .kiro-artikel {
         padding-top: 0%;
      }

      .kiro-flexbox {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 750px;
         margin: 0 auto 2em;
      }

      .kiro-billede1 {
         padding-top: 0%;
         margin-top: 0%;
      }

      .kiro-tekst,
      .kiro-billede2,
      .kiro-billede3 {
         width: 750px;
         margin-bottom: 1em;
      }

      .kiro-billede3 {
         margin-bottom: 3em;
      }

       .kiro-boks {
         margin: 0px;
         padding: 25px 6%;
      }


/* --- Forventninger til dit forløb */

      .forvnt_titel {
         display: flex;
         justify-content: center;
      }

      .holisme_video {
         display: flex;
         flex-direction: row-reverse;
         margin-right: 5em;
         margin-left: 5em;
      }

      .holisme {
         width: 40em;
         margin-right: 1em;
      }

      .tal_ikon {
         display: flex;
         height: 10em;
         margin-right: 2em;
         margin-top: 1em;
      }

      .besoeg {
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin-top: 2em;
      }

      .tekst_besoeg {
         width: 40em;
      }

      .liste_besoeg {
         margin-left: 3em;
      }

      /*  --- Kontakt ---  */
      .kontakt_tekst {
         text-align: center;
      }

      .kontakt_billede {
         width: 92%;
         height: auto;
         display: block;
         margin: 0 auto;
         object-fit: cover;
      }


      .kontakt_billede_div {
         overflow: hidden;
         height: 30%;
         margin: 0 auto;
         padding-top: 5%;
      }

      .kontakt_overskrift {
         padding-top: 3%;
         padding-bottom: 1.5%;
      }

      .kontakt_tider_wrapper {
         display: flex;
         justify-content: space-around;
      }

      .kontakt_tider_group {
         text-align: center;
      }

      .kontakt_map_div {
         margin-bottom: -50%;
      }


      /* --- Behandler --- */
      .behandler_overskrift {
         text-align: center;
      }

      .behandler_container {
         display: flex;
         width: 90%;
         margin-top: 3%;
         margin-bottom: 3%;
      }

      .behandler_billede {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 40rem;
      }

      .behandler_content {
         display: flex;
         flex-direction: column;
         width: 80%;
      }

      .behandler_citat {
         text-align: center;
         margin-top: 1%;
         margin-bottom: -3%;
      }

      .behandler_navn {
         text-align: left;
      }

      /* --- Footer --- */
      footer {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
      }

      .footer_some {
         height: 30px;
      }

      .footer_special {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
      }

      .footer_some_special {
         height: 30px;
      }



      /* ---  Under ombygning --- */
      .uo-logo {
         max-width: 50%;
         margin-bottom: 70px;
         margin-top: 2%;
      }

      .uo-content2 {
         text-align: center;
         max-width: 550px;
         margin: 0 auto;
      }

      .uo-content {
         margin-top: 5%;
      }



      /* øvelser */

      .oevelser-tekst1 {
         margin-top: 5px;
         margin-right: 5em;
         margin-bottom: 20px;
         margin-left: 5em;
      }

      .oevelse-intro-img-container {
         margin-left: 5em;
         margin-right: 5em;
      }

      /* stræk */
      .strkeak1 {
         display: flex;
         flex-direction: column;
         margin-right: 15px;
      }

      .strkeak2 {
         display: flex;
         flex-direction: column;
         margin-left: 15px;
      }

      .strkeak-tekst {
         max-width: 390px
      }

      .strkeak-oe {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
      }

      /* y-w-t-l øvelser */
      /* y og w delen af øvelsen */

      #oevelse1-ywtl {
         margin-left: 3em;
      }

      .y,
      .w {
         display: flex;
         align-items: center
      }

      .y {
         margin-right: 15px;
      }

      .w {
         margin-left: 15px
      }

      .y-tekst {
         margin-left: 15px;
      }

      .w-tekst {
         margin-left: 15px
      }

      .y-og-w {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         margin-left: 5em;
         margin-right: 5em;
      }

      /* t og l delen af øvelsen */
      .t,
      .l {
         display: flex;
         align-items: center;
         margin-left: 5em;
         margin-right: 5em;
      }

      .t {
         margin-right: 15px;
      }

      .l {
         margin-left: 15px
      }

      .t-tekst {
         margin-left: 15px;
      }

      .l-tekst {
         margin-left: 15px;
         max-width: 485px;
      }

      .t-og-l {
         display: flex;
         justify-content: space-evenly;
         align-items: center;

      }

      /* øvelse 2 */
      .oe-2 {
         display: flex;
         align-items: center;
         margin-left: 5em;
         margin-right: 5em;
      }

      /* øvelse 3 og 4 */
      .oe-3,
      .oe-4 {
         display: flex;
         flex-direction: column;
      }

      .tekst-3og4 {
         max-width: 449px;
      }

      .oe-3-og-4 {
         display: flex;
         justify-content: space-around;
         margin-left: 5em;
         margin-right: 5em;
      }

      /* øvelse 5 */
      .oe5 {
         display: flex;
         align-items: center;
         margin-bottom: 3em;
         margin-left: 5em;
         margin-right: 5em;
      }

      .oe-titler {
         margin-top: 30px;
         margin-bottom: 5px;
      }

      .oe-titler5pc {
         margin-top: 30px;
         margin-bottom: 5px;
         margin-left: 3em;
      }

      .oevelse3 {
         text-align: start;
      }

      .str12 {
         text-align: center;
      }

      /* færdig øvelse */

      /* kontakt */

   }

   @media screen and (min-width: 1400px) {
      .kontakt_info {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 3%;
         padding-left: 20%;
         padding-right: 20%;
      }
   }
}